html{
    background-color: lightgrey;
}


* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

button{
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 200px;
    border: double;
    padding: 25px;
}

#placeholder{
    font-size: 10px;
    width: 100px;
    height: 100px;
    border: double;
    border-radius: 10px;  
    margin: 25px;
    padding: 25px;
}